version: '3.8'

services:
  # 1. Otak Vector Database (Qdrant)
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333" # API Port
      - "6334:6334" # gRPC Port
    volumes:
      - qdrant_data:/qdrant/storage

  # 2. Logic Backend (FastAPI)
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - QDRANT_URL=http://qdrant:6333
    depends_on:
      - qdrant

volumes:
  qdrant_data:
